<div class="info">
  <h1>Actualizar curso</h1>
  <div class="cuerpo">
      <div class="row g-3 w-75">
          <div class="mb-3">
            <label for="validationDefault01" class="form-label ">Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="this.curso.nombre">
          </div>
          <div class="mb-3">
              <label for="validationDefault01" class="form-label ">Descripción</label>
              <textarea type="text" class="form-control" [(ngModel)]="this.curso.descripcion" placeholder="Escribre aquí"></textarea>
            </div>
            <div class="col-md-6">
              <label for="validationDefault04" class="form-label">Estado</label>
              <select class="form-select" [(ngModel)]="this.curso.estado">
                <option value="activar">Activar</option>
                <option value="desactivar">Desactivar</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="validationDefault05" class="form-label">Imagen del curso</label>
              <input type="file" accept="image/*" [(ngModel)]="this.curso.imagen" class="form-control">
            </div>
          <div class="col-12">
            <button class="btn btn-primary btnSeccion" type="button" (click)="this.actualizar()">Actualizar Curso</button>
            <a class="eliminar btn btn-info btnSeccion" [routerLink]="['/curso/seccion',curso.id]">Sección</a>

          </div>
        </div>
  </div>
</div>
